<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css">
  <title>Rock, Paper, Scissors!</title>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/rules">Rules</a></li>
  </ul>
  <%= yield %>
</body>
</html>