<h1>Rules</h1>
<p>You think you know the rules of Rock, Paper, Scissors?</p>
<p>You probably do. What you don't know is how to play this version.</p>
<p>You will need three people. Two players and one impartial person to type.</p>
<ul>
  <li>- First, player 1 and player 2 will decide on either rock, paper or scissors and whisper that into the third person's ear.</li>
  <li>Then, person #3 will type into the browser what they said in the following format:</li>
  <li>http://localhost:4567/play/"put here what player1 chose"/"player2's choice".</li>
  <li>e.g. http://localhost:4567/play/rock/paper</li>
  <li>Then, hit enter and watch the game unfold.</li>
</ul>
<p>Have fun!</p>